@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJM.woff)
    format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins";
  background: black;
}

/* BARRA DE PESQUISA */

#topo {
  background: #0060b1;
  min-width: none;
}

#container-barra-pesquisa {
  margin: 0 200px;
  height: 112px;
  /* min-width: 1280px; */
}

#barra-pesquisa {
  display: flex;
  align-items: center;
  height: 100%;
  /* border: 1px solid red; */
}

.kabum-logo {
  width: 160px;
}

.kabum-logo:hover {
  cursor: pointer;
}

.container-pesquisa {
  padding-right: 30px;
  justify-content: flex-end;
  /* border: 1px solid red; */
  display: flex;
  position: relative;
  align-items: center;
}

.barrapsq {
  margin-left: 20px;
  padding-left: 20px;
  width: 500px;
  height: 36px;
  border-radius: 7px;
  border: none;
  text-align: left;
  font-size: 16px;
}

.botaopsg {
  left: 526px;
  /* justify-content: flex-end; */
  position: absolute;
  /* border: 1px solid red; */
  border: none;
  background: none;
  z-index: 1;
}

.botaopsg::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 12px;
  top: 0.375rem;
  height: 1.5rem;
  width: 0.625rem;
  background: rgb(255, 255, 255);
}

.botaopsg:hover {
  cursor: pointer;
}

.tresr {
  margin-right: 30px;
}

.tresr:hover {
  cursor: pointer;
}

.tresr {
  transition: all 0.3s;
  cursor: pointer;
}

.tresr:hover {
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

figure {
  border: 3px solid rgb(52, 123, 190);
  padding: 2px;
  display: flex;
  align-items: center;
  border-radius: 50px;
}

.finalnav {
  margin-left: 250px;
  /* border: 1px solid red; */
}

.txtlogin {
  margin: 5px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
}

.txtlogin a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

.txtlogin a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.boneco-ajuda {
  margin-left: 200px;
  /* border: 1px solid red; */
}

.favoritos {
  margin-left: 20px;
}

.carrinho {
  margin-left: 20px;
}
