* {
    padding: 0;
    margin: 0;
}

#topo {
    background: rgb(28, 129, 167);
    width: 100%;
    height: 112px;
}

#container-barra-pesquisa {
    margin: 0 200px;
    height: 100%;
}

#barra-pesquisa {
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid red;
}

.kabum-logo {
    width: 160px;
}

.kabum-logo:hover {
    cursor: pointer;
}

