@font-face {
  font-family:'Poppins';
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJM.woff) format('woff')
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins';
}

/* BARRA DE PESQUISA */

#topo {
  background: #0060b1;
  width: 100%;
  height: 112px;
}

#container-barra-pesquisa {
  margin: 0 200px;
  height: 100%;
}

#barra-pesquisa {
  display: flex;
  align-items: center;
  height: 100%;
  border: 1px solid red;
}

.kabum-logo {
  width: 160px;
}

.kabum-logo:hover {
  cursor: pointer;
}

.barrapsq {
  margin-left: 20px;
  padding-left: 20px;
  width: 512px;
  height: 36px;
  border-radius: 5px;
  border: none;
  text-align: left;
  font-size: 16px;
}

.botaopsg {
  position: relative;
  margin-right: 100px;
  border: 1px solid red;
  /* border: none; */
  background: none;
}

.botaopsg:hover {
  cursor: pointer;
}

.tresr {
  margin-right: 30px;
}

.tresr:hover {
  cursor: pointer;
}

/* BARRA DE NAVEGAÇÃO (LINKS) */

a {
  text-decoration: none;
}

#container-barra-navegacao {
  height: 32px;
  background: #ff771d;
}

#barra-navegacao > ul {
  display: inline-flex;
  list-style-type: none;
}

#barra-navegacao > ul > li{
  display: block;
  height: 32px;
}

#barra-navegacao > ul > li:hover{
  background: #FF6500;
}


